nav {
    background-color: blueviolet;
    width: 100%;
}

img {
    height: 100%;
    width: 50px;
}

.item {
    color: white;
    /* text-decoration: none; */
    list-style: none;
}

footer {
    background-color: blanchedalmond;
    color: white;
}

#image {
    width: 100%;
}

.submit {
    width: 103px;
    height: 35px;
    color: blue;
    margin: auto;
}

#mytags {
    position: relative;
    margin: auto;
    bottom: 500px;
    color: aqua;
}

#footera {
    display: flex;
}

#footera li {
    list-style: none;
    width: 100%;
    margin: auto;
}

#footera li a {
    text-decoration: none;
}

/* /////////////////////////////////////////////////////////////// */

/* benish */

nav {
    /* width: 100%; */
    height: 67px;
}

.container {
    position: relative;
    margin: 0px 17px;
    line-height: 65px;
    font-size: 20px;
}

nav>ul {
    display: flex;
}

ul>li {
    padding: 20px;
    position: relative;
    margin: -46px -9px;
    display: inline-block;
}

ul>li:hover {
    background: #32ad3c;
    /* border: 2px solid yellow; */
}

#items {
    position: relative;
    /* margin-left: 23px; */
    margin: -44px 211px;
    color: pink;
    display: flex;
    flex-direction: row;
}

#search {
    border-radius: 5px;
    position: relative;
    margin: 0px 72px;
    background: white;
    border: none;
    padding: 8px;
    width: 200px;

}

.right{
    display: flex;
    justify-content: flex-end;
}



#search:hover {
    background: turquoise;
    border: 2px solid red;
}

#button {
    margin: 0px 0px 0px 0px;
    color: white;
    font-size: 15px;
    background: blue;
    padding: 5px 16px;
    border-radius: 6px;
}

#button:hover {
    background: yellowgreen;
}

#button2 {
    background: #e65100;
    margin: 0px 12px 0px 0px;
    color: white;
    font-size: 15px;
    padding: 5px 16px;
    border-radius: 6px;
}

#a {
    border: 1px solid red;
    background-color: orchid;
}

#a:hover {
    background: yellowgreen;
}