nav{
    background-color: blueviolet;
    width: 100%;
}

img{
    height: 100%;
    width: 50px;
}

.item{
    color: white;
    /* text-decoration: none; */
    list-style: none;
}




footer{
    background-color: blanchedalmond;
    color: white;
}




#image {
    width: 100%;
}

.submit {
    width: 103px;
    height: 35px;
    color: blue;
    margin: auto;
}

#mytags {
    position: relative;
    margin: auto;
    bottom: 500px;
    color: aqua;
}
#footera{
    display: flex;
}

#footera li{
    list-style: none;
    width: 100%;
    margin: auto;
}
#footera li a{
    text-decoration: none;
}

